<% @page_title = "New template" %>

<% form_for([:admin, @site, @_template]) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to "Back", admin_site_templates_path(@site) %>