<p>
  <b>Title:</b>
  <%=h @_template.name %>
</p>

<p>
  <b>Body:</b>
  <%=h @_template.content %>
</p>


<%= link_to "Edit", edit_admin_site_template_path(@site, @_template) %> |
<%= link_to "Back", admin_site_templates_path %>
