<% @page_title = "Editing page" %>

<% form_for(@page, :url => @parent_page ? admin_site_page_child_path(@site, @parent_page, @page) : admin_site_page_path(@site, @page)) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to "Show", [:admin, @site, @page] %> |
<%= link_to "Back", admin_site_pages_path(@site) %>
