<% @page_title = "New page" %>

<% form_for(@page, :url => @parent_page ? admin_site_page_children_path(@site, @parent_page) : admin_site_pages_path(@site)) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to "Back", admin_site_pages_path(@site, @pages) %>
