<% @page_title = "Dashboard" %>

<p>Welcome to Open Site's Dashboard.</p>

<h3>Your Sites</h3>

<ul>
  <% @sites.each do |site| %>
    <li><%= link_to h(site.name), admin_site_pages_path(site) %></li>
  <% end %>
</ul>

<p><%= link_to "Create a new site", new_admin_site_path %></p>