<% @page_title = "New user" %>

<% form_for([:admin, @user]) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to "Back", admin_users_path %>